* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

/*Nav Bar Styles*/

.nav-logo {
    margin-right: 100px;
}
.nav-items > .items-nav li {
    list-style-type: none;
}
.nav-items > .items-nav li a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}
.nav-bar {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 5px solid #ebebeb;
}
.nav-items > .items-nav {
    display: flex;
    font-weight: 400;
    gap: 50px;
    margin-right: 100px;
}
.nav-icons {
    display: flex;
}
.to-do, .nav-search {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-size: 2rem;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}
.to-do {
    background-color: #FDB714;
}
.nav-search {
    background-color: #386BB4;
}
.to-do:hover {
    background-color: #fd9814;
}
.nav-search:hover {
    background-color: #3880b4;
}
.circle-list > .circle-div {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #386BB4;
}
.circle-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Main Body Part Styles */

.Book {
    padding: 10px 25px;
    border-radius: 50px;
    border: 0;
    background-color: #386BB4;
    color: white;
    font-size: 1.25rem;
}
.content1-heading {
    font-size: 5rem;
    line-height: 6rem;
    color: rgb(55, 55, 55);
}

.blue-text {
    color: #386BB4;
}
.content1-des {
    color: rgb(55, 55, 55);
}
.Book, .content1-heading, .content1-des {
    margin-bottom: 30px;
}
.content1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
}
.Book:hover {
    background-color: #3880b4;
    cursor: pointer;
}
.main-img {
    width: 700px;
}

.content2-container {
    height: 200px;
    width: 1500px;
    background-color: #ebebeb;
    border-radius: 15px;
}
.content2 {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.icon1 {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 5px solid #94bedb;
    background-color: #386BB4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 2rem;
}
.icon2 {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 5px solid #ffdb85;
    background-color: #FDB714;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}
.icon3 {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 5px solid #94bedb;
    background-color: #386BB4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}
.icon-des {
    font-size: 0.90rem;
    color: #232323;
}
.icon-heading {
    font-size: 1.25rem;
    color: #232323;
}
.sub-contents {
    display: flex;
    align-items: center;
    gap: 50px;
}
.content2-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
}
.btn-search {
    margin-bottom: 0px;
    padding: 30px 50px;
    border-radius: 20px;

}
.flex2-content {
    display: flex;
    gap: 50px;
}

/* Destination part styles */

.destination-heading {
    font-size: 5rem;
    color: #373737;
    text-align: center;
    margin-top: 10px;
}
.destination-blue {
    color: #386BB4;
}
.destination-paragraph {
    font-size: 1rem;
    color: #373737;
    text-align: center;
    margin-top: 10px;
}
.button-destination {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
}
.destination-text {
    margin-top: 70px;
}
.img1-des {
    height: 180px;
    width: 280px;
    background-color: #ebebeb;
    background-image: url("images/place1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-top: 10px;
}
.img2-des {
    height: 180px;
    width: 280px;
    background-color: #ebebeb;
    background-image: url("images/place2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-top: 10px;
}
.img3-des {
    height: 180px;
    width: 280px;
    background-color: #ebebeb;
    background-image: url("images/place3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-top: 10px;
}
.img4-des {
    height: 180px;
    width: 280px;
    background-color: #ebebeb;
    background-image: url("images/place4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-top: 10px;
}
.des-img1 {
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.tour-place1 {
    height: 320px;
    width: 300px;
    background-color: #ebebeb;
    border-radius: 10px;
}
.des-image-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;
}
.small-txt-des {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.days {
    margin-left: 10px;
}
.des-img-heading {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-left: 10px;
    margin-top: 10px;
}
.price {
    margin-right: 10px;
}

/* dream section styles */
.top-small-text {
    display: flex;
    gap: 10px;
    align-items: center;
}
.top-small-txt {
    font-size: 2rem;
    color: #373737;
}
.top-small-icon {
    color: #386BB4;
    font-size: 2rem;
}
.dream-text-heading {
    font-size: 5rem;
    line-height: 6rem;
    color: rgb(55, 55, 55);
}
.Lifetime-orange {
    color: #FDB714;
}
.place5-img {
    background-image: url("images/Place5.jpg");
}
.place6-img {
    background-image: url("images/Place6.jpg");
}
.place-img {
    background-color: #ebebeb;
    background-size: cover;
    background-repeat: no-repeat;
    height: 280px;
    width: 450px;
    margin-top: 10px;
    border: 5px solid #FDB714;
    border-radius: 5px;
}

#dream {
    display: flex;
    height: 700px;
    align-items: center;
    justify-content: space-around;
    margin-top: 150px;
    background-color: #f5f5f5;
}
.rooms-heading {
    margin-top: 50px;
    text-align: center;
}
.rooms-description {
    margin-top: -20px;
    text-align: center;
}
.rooms {
    color: #386BB4;
}
.room-btn {
    margin-top: 20px;
}

.room1-des {
    background-image: url("images/room1.jpg");
}
.room2-des {
    background-image: url("images/room2.jpg");
}
.room3-des {
    background-image: url("images/room3.jpg");
}
.room4-des {
    background-image: url("images/room4.jpg");
}

.room-des-heading {
    margin-top: 20px;
    margin-bottom: 5px;
}
.star {
    font-size: 1rem;
    margin-left: 8px;
    color: #FDB714;
}

.review {
    display: flex;
    gap: 20px;
    align-items: center;
}
.review-times {
    font-size: 0.75rem;
}


.blue-part, .yellow-part {
    width: 700px;
    height: 400px;
    background-color: #386BB4;
    border-radius: 10px;
}
.yellow-part {
    background-color: #FDB714;
}
.discover-panel {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
    margin-bottom: 100px;
}

.blue-dis-img {
    background-image: url("images/woman-picture.png");
    height: 460px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 300px;
    /* margin-right: 10px; */
    margin-bottom: 50px;
    /* margin-left: 60px; */
}
.discover-btn {
    background-color: #ffffff;
    color: #386BB4;
    font-weight: 600;
}
.blue-part {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.discover-heading {
    font-size: 2rem;
    color: white;
}
.discover-description {
    color: white;
}
.discover-heading, .discover-description, .discover-btn {
    margin-top: 20px;
}
.discover-btn:hover {
    background-color: white;
    color: #386BB4;
}
.text-part-yellow {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 3rem;
    color: white;
}
.yellow-description {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: white;
}
.newsletter {
    font-size: 1rem;
    font-weight: 600;
}
.top-part {
    display: flex;
    justify-content: space-evenly;
}
.Email-Place {
    border: 0;
    height: 50px;
    font-size: 1.5rem;
    border-radius: 50px;
    text-align: center;
    width: 500px;
}
.Submit-Button {
    height: 50px;
    border: 0;
    border-radius: 50px;
    width: 150px;
    font-size: 1.5rem;
    background-color: #386BB4;
    color: white;
    /* position: absolute; */
    right: 200px;
}
.down-part {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.yellow-part {
    display: flex;
    justify-content: center;
    align-items: center;
}





/* Screen Size 1025px - 1200px */
@media (min-width : 1200px) and (max-width : 1500px) {

    /* nav bar styles modified */

    .nav-items > .items-nav {
        gap: 20px;
        margin-right: 125px;
        margin-left: 0px;
    }
    .nav-items > .items-nav li a {
        color: black;
        font-size: 1.15rem;
    }
    .nav-icons {
        margin-right: 50px;
    }
    .main-img {
        width: 600px;
    }
    .nav-logo {
        margin-left: 60px;
    }

    /* Main section style modified */

    .Book {
        font-size: 0.85rem;
    }
    .content1-heading {
        font-size: 3.5rem;
        line-height: 4rem;
    }
    .content2-container {
        width: 1100px;
        gap: 40px;
        justify-content: space-evenly;
    }
    .sub-contents {
        gap: 30px;
    }
    .btn-search {
        padding: 20px 25px;
        border-radius: 10px;
    }
    .flex2-content {
        display: flex;
        gap: 40px;
    }

    /* Destination Part Styles */

    .destination-heading {
        font-size: 3.5rem;
        color: #373737;
        text-align: center;
        margin-top: 10px;
    }
    /* cart section  */
    .img1-des {
        width: 250px;
        margin-top: 5px;
    }
    .img2-des {
        width: 250px;
        margin-top: 5px;
    }
    .img3-des {
        width: 250px;
        margin-top: 5px;
    }
    .img4-des {
        width: 250px;
        margin-top: 5px;
    }
    .tour-place1 {
        height: 320px;
        width: 260px;
    }
    .dream-text-heading {
        font-size: 3rem;
        line-height: 4rem;
        color: rgb(55, 55, 55);
    }


    .rooms-heading {
        font-size: 3rem;
    }
    .discover-panel {
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
}








@media (min-width : 1025px) and (max-width : 1200px) {

    /* nav bar styles modified */

    .nav-items > .items-nav {
        gap: 20px;
    }
    .nav-items {
        display: flex;
        justify-content: center;
    }
    .nav-items > .items-nav li a {
        color: black;
        font-size: 0.85rem;
    }
    .nav-icons {
        margin-right: 50px;
    }
    .main-img {
        width: 500px;
    }
    .nav-logo {
        margin-left: 15px;
    }

    /* Main section style modified */

    .Book {
        font-size: 0.85rem;
    }
    .content1-heading {
        font-size: 3rem;
        line-height: 3.5rem;
    }
    .content2-container {
        width: 1000px;
        gap: 30px;
        justify-content: space-evenly;
    }
    .sub-contents {
        gap: 20px;
    }
    .btn-search {
        padding: 20px 25px;
        border-radius: 10px;
    }
    .flex2-content {
        display: flex;
        gap: 30px;
    }

    /* Destination part styles */
    .destination-heading {
        font-size: 3rem;
        color: #373737;
        text-align: center;
        margin-top: 10px;
    }
    .img1-des {
        width: 200px;
        margin-top: 5px;
    }
    .img2-des {
        width: 200px;
        margin-top: 5px;
    }
    .img3-des {
        width: 200px;
        margin-top: 5px;
    }
    .img4-des {
        width: 200px;
        margin-top: 5px;
    }
    .tour-place1 {
        height: 320px;
        width: 210px;
    }

    .dream-text-heading {
        font-size: 3rem;
        line-height: 4rem;
        color: rgb(55, 55, 55);
    }
    .top-small-txt {
        font-size: 1.5rem;
    }

    .rooms-heading {
        font-size: 2.25rem;
    }
    .rooms-text {
        margin-top: 100px;
    }
    #dream {
        height: 700px;
    }

    .discover-panel {
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
    
}







@media (min-width : 769px) and (max-width : 1024px) {
    .nav-bar {
        height: 300px;
        flex-direction: column;
        align-items: center;
    }
    .nav-items > .items-nav li a {
        font-size: 1rem;
    }
    .nav-items > .items-nav {
        gap: 40px;
        margin-left: 100px;
        margin-top: -35px;
    }
    .nav-icons {
        margin-right: 60px;
        margin-left: 60px;
    }
    .nav-logo {
        margin-left: 100px;
    }

    /* Main Section Style Modified */

    .content1-heading {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
    .main-img {
        width: 350px;
    }
    .Book {
        font-size: 0.75rem;
    }
    .text-part {
        margin-left: 40px;
    }
    .image-part {
        margin-right: 20px;
    }
    .icon1 {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 3px solid #94bedb;
        background-color: #386BB4;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 1rem;
    }
    .icon2 {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 3px solid #ffdb85;
        background-color: #FDB714;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1rem;
    }
    .icon3 {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 3px solid #94bedb;
        background-color: #386BB4;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1rem;
    }
    .content2-container {
        width: 750px;
        gap: 20px;
        justify-content: space-evenly;
    }
    .sub-contents {
        gap: 10px;
    }
    .btn-search {
        padding: 20px 25px;
        border-radius: 10px;
    }
    .flex2-content {
        display: flex;
        gap: 20px;
    }
    .destination-heading {
        font-size: 2.25rem;
        color: #373737;
        text-align: center;
        margin-top: 10px;
    }
    .img1-des {
        width: 180px;
        margin-top: 5px;
    }
    .img2-des {
        width: 180px;
        margin-top: 5px;
    }
    .img3-des {
        width: 180px;
        margin-top: 5px;
    }
    .img4-des {
        width: 180px;
        margin-top: 5px;
    }
    .tour-place1 {
        height: 300px;
        width: 190px;
    }
    .des-img-heading {
        font-size: 0.85rem;
    }
    .small-txt-des {
        font-size: 0.75rem;
    }

    #dream {
        flex-direction: column;
    }
    .dream-text-heading {
        font-size: 2.25rem;
        text-align: center;
        line-height: 3rem;
        margin-top: 10px;
    }
    .btn-dream {
        display: flex;
        justify-content: center;
    }
    .top-small-txt {
        font-size: 1rem;
        text-align: center;
    }
    .top-small-text {
        justify-content: center;
    }
    .top-small-icon {
        font-size: 1rem;
    }
    .dream-content-des {
        text-align: center;
        margin-top: 10px;
    }

    #dream {
        height: 1000px;
    }

    .rooms-heading {
        font-size: 2.25rem;
    }

    .star {
        font-size: 0.85rem;
    }
    .review-times {
        font-size: 0.65rem;
    }
    .discover-panel {
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
      
}









@media (min-width : 481px) and (max-width : 768px) {
    /* navbar style modified */
    .nav-bar {
        height: 280px;
        flex-direction: column;
    }

    .nav-items > .items-nav li a {
        font-size: 0.75rem;
    }
    .nav-items > .items-nav {
        gap: 25px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: -35px;
    }
    .nav-logo {
        margin-left: 100px;
    }

    /* main section style modified */
    .Book {
        font-size: 1.5rem;
    }
    .text-part {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content1-heading {
        font-size: 3.5rem;
        text-align: center;
        line-height: 4rem;
    }
    .content1-des {
        text-align: center;
    }
    .main-img {
        width: 400px;
    }
    .content1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content1-flex {
        display: flex;
        justify-content: center;
    }
    .icon1 {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 3px solid #94bedb;
        background-color: #386BB4;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 1rem;
    }
    .icon2 {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 3px solid #ffdb85;
        background-color: #FDB714;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1rem;
    }
    .icon3 {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 3px solid #94bedb;
        background-color: #386BB4;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1rem;
    }
    .icon-des {
        font-size: 0.75rem;
        color: #232323;
    }
    .icon-heading {
        font-size: 1rem;
        color: #232323;
    }
    .content2-container {
        width: 550px;
        gap: 5px;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .flex2-content {
        display: flex;
        gap: 20px;
    }
    .sub-contents {
        gap: 10px;
    }
    .btn-search {
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 0.75rem;
    }
    .destination-heading {
        font-size: 3.5rem;
        color: #373737;
        text-align: center;
        margin-top: 10px;
    }
    .all-destination {
        font-size: 1rem;
        padding: 10px 20px;
    }
    .img1-des {
        width: 250px;
        margin-top: 5px;
    }
    .img2-des {
        width: 250px;
        margin-top: 5px;
    }
    .img3-des {
        width: 250px;
        margin-top: 5px;
    }
    .img4-des {
        width: 250px;
        margin-top: 5px;
    }
    .tour-place1 {
        height: 310px;
        width: 260px;
    }
    .des-image-content {
        height: 700px;
        flex-wrap: wrap;
        align-content: space-evenly;
    }



    #dream {
        flex-direction: column;
    }
    .dream-text-heading {
        font-size: 2.25rem;
        text-align: center;
        line-height: 3rem;
        margin-top: 10px;
    }
    .btn-dream {
        display: flex;
        justify-content: center;
    }
    .top-small-txt {
        font-size: 1rem;
        text-align: center;
    }
    .top-small-text {
        justify-content: center;
    }
    .top-small-icon {
        font-size: 1rem;
    }
    .dream-content-des {
        text-align: center;
        margin-top: 10px;
    }

    #dream {
        height: 1000px;
    }
    .rooms-heading {
        font-size: 2.25rem;
    }
    .discover-panel {
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
    .blue-part {
        width: 400px;
        height: 400px;
    }
    .yellow-part {
        width: 400px;
        height: 400px;
    }
    .discover-heading {
        font-size: 1.5rem;
    }
    .discover-description {
        font-size: 0.75rem;
    }
    .discover-btn {
        font-size: 0.75rem;
    }
    .blue-dis-img {
        background-size: 200px;
        width: 150px;
        height: 350px;
        margin-bottom: 0px;
    }
    .yellow-heading {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .yellow-description {
        font-size: 0.75rem;
    }
    .newsletter {
        font-size: 0.75rem;
    }
    .plane {
        width: 150px;
    }
    .Email-Place {
        font-size: 0.85rem;
        width: 250px;
    }
    .Submit-Button {
        font-size: 0.85rem;
    }
    .email-search-sec {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

}









@media (max-width : 480px) {
    /* navbar style modified */
    .nav-bar {
        height: 500px;
        flex-direction: column;
    }

    .nav-items > .items-nav li a {
        font-size: 1rem;
    }
    .circle-list {
        flex-direction: column;
    }
    .nav-items > .items-nav {
        gap: 5px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: -40px;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-bottom: 30px;
    }
    .nav-logo {
        margin-left: 100px;
        margin-bottom: 30px;
    }

    /* main section style modified */
    .Book {
        font-size: 1.5rem;
    }
    .text-part {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content1-heading {
        font-size: 2.5rem;
        text-align: center;
        line-height: 3rem;
    }
    .content1-des {
        text-align: center;
    }
    .main-img {
        width: 300px;
    }
    .content1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content1-flex {
        display: flex;
        justify-content: center;
    }
    .icon1 {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 3px solid #94bedb;
        background-color: #386BB4;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 1rem;
    }
    .icon2 {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 3px solid #ffdb85;
        background-color: #FDB714;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1rem;
    }
    .icon3 {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 3px solid #94bedb;
        background-color: #386BB4;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1rem;
    }
    .icon-des {
        font-size: 0.85rem;
        color: #232323;
    }
    .icon-heading {
        font-size: 1.25rem;
        color: #232323;
    }
    .content2-container {
        height: 450px;
        width: 300px;
        gap: 5px;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .flex2-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .sub-contents {
        flex-direction: column;
        gap: 5px;
    }
    .icon-text {
        text-align: center;
    }
    .btn-search {
        padding: 10px 25px;
        border-radius: 5px;
        font-size: 0.85rem;
    }
    .content2 {
        justify-content: center;
    }
    .destination-heading {
        font-size: 2.5rem;
        color: #373737;
        text-align: center;
        margin-top: 10px;
    }
    .all-destination {
        font-size: 1rem;
        padding: 10px 20px;
    }
    .des-image-content {
        margin-top: -20px;
        height: 1400px;
        flex-wrap: wrap;
        align-content: space-evenly;
    }
    




    #dream {
        flex-direction: column;
    }
    .dream-text-heading {
        font-size: 2.25rem;
        text-align: center;
        line-height: 3rem;
        margin-top: 10px;
    }
    .btn-dream {
        display: flex;
        justify-content: center;
    }
    .top-small-txt {
        font-size: 1rem;
        text-align: center;
    }
    .top-small-text {
        justify-content: center;
    }
    .top-small-icon {
        font-size: 1rem;
    }
    .dream-content-des {
        text-align: center;
        margin-top: 10px;
    }

    .place-img {
        width: 320px;
    }

    #dream {
        height: 1000px;
    }

    .discover-panel {
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
    .blue-part {
        width: 400px;
        height: 400px;
    }
    .yellow-part {
        width: 400px;
        height: 400px;
    }
    .discover-heading {
        font-size: 1.5rem;
    }
    .discover-description {
        font-size: 0.75rem;
    }
    .discover-btn {
        font-size: 0.75rem;
    }
    .blue-dis-img {
        background-size: 200px;
        width: 150px;
        height: 350px;
        margin-bottom: 0px;
    }
    .yellow-heading {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .yellow-description {
        font-size: 0.75rem;
    }
    .newsletter {
        font-size: 0.75rem;
    }
    .plane {
        width: 150px;
    }
    .Email-Place {
        font-size: 0.85rem;
        width: 250px;
    }
    .Submit-Button {
        font-size: 0.85rem;
    }
    .email-search-sec {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    
    

}

@media (min-width : 481px) and (max-width : 520px) {
    .des-image-content {
        margin-top: -20px;
        height: 1400px;
        align-content: space-evenly;
    }
}
